.header {
    background-color: #191536;
    color: #e2e2e2;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    .name {
        margin: 50px 0 0 0;
        h1 {
            font-size: 4em;
            @media (min-width: 500px) {
                display: inline !important;
                &:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
    .tagline {
        margin: 50px 0 35px 0;
        font-size: 2em;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            span {
                cursor: pointer;
            }
        }
    }
    .social {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}