.about {
    background-color: #FFF;
    min-height: 500px;
    .picture {
        img {
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }
    }
    .blurb {
        padding-top: 30px;
        p {
            line-height: 2em;
            font-size: 1.2em;
        }
    }
}